<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						    http://www.springframework.org/schema/aop
						    http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
						    http://www.springframework.org/schema/tx
						    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
						    http://www.springframework.org/schema/context
						    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="org.example.Student" name="student1">
        <property name="studentId" value="1"/>
        <property name="studentName" value="Megha"/>
        <property name="studentAddress" value="Blore"/>
    </bean>

    <bean class="org.example.Student" name="student2">
        <constructor-arg value="2" type="int"/>
        <constructor-arg value="Sam"/>
        <constructor-arg value="Blore"/>
    </bean>


</beans>
